#ignore everything unless we add it here
*
#whitelist
#!*/
!/images/**
!init.org
!init-dev.el
!README.org
!emacs-batch-tangle
!tangle-init
!/lisp/**
!/themes/**
!/snippets/**
!exwm.desktop
!exwm.sh


/straight/**
/snippets/*/*.el
